WebSite2/App_WebReferences/RegistraionLoginService/ReviewerRegistrationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReviewerRegistrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4659/ReviewerRegistrationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4659/ReviewerRegistrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4659/ReviewerRegistrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReviewerRegistrationService_RegisterReviewer_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterReviewer" />
  </wsdl:message>
  <wsdl:message name="IReviewerRegistrationService_RegisterReviewer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterReviewerResponse" />
  </wsdl:message>
  <wsdl:message name="IReviewerRegistrationService_ReviewerLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:ReviewerLogin" />
  </wsdl:message>
  <wsdl:message name="IReviewerRegistrationService_ReviewerLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReviewerLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IReviewerRegistrationService">
    <wsdl:operation name="RegisterReviewer">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewerRegistrationService/RegisterReviewer" message="tns:IReviewerRegistrationService_RegisterReviewer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewerRegistrationService/RegisterReviewerResponse" message="tns:IReviewerRegistrationService_RegisterReviewer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReviewerLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewerRegistrationService/ReviewerLogin" message="tns:IReviewerRegistrationService_ReviewerLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewerRegistrationService/ReviewerLoginResponse" message="tns:IReviewerRegistrationService_ReviewerLogin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReviewerRegistrationService" type="tns:IReviewerRegistrationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterReviewer">
      <soap:operation soapAction="http://tempuri.org/IReviewerRegistrationService/RegisterReviewer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReviewerLogin">
      <soap:operation soapAction="http://tempuri.org/IReviewerRegistrationService/ReviewerLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReviewerRegistrationService">
    <wsdl:port name="BasicHttpBinding_IReviewerRegistrationService" binding="tns:BasicHttpBinding_IReviewerRegistrationService">
      <soap:address location="http://localhost:4659/ReviewerRegistrationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>